.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.v-center {
	min-height: 100%;  /* Fallback for browsers that don't support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

